:root {
	--blue: royalblue;
	--blueClear: cornflowerblue;
	--white: white;
	--red: red;
	--backgroundBody: var(--blueClear) no-repeat;
	--backgroundContainer: var(--blue) no-repeat;
	--fontFamilyBody: sans-serif;
	--fontBody: 14px var(--fontFamilyBody);
	--fontLabel: 1.3rem;
	--fontInput: 14px;
	--fontResultado: 16px;
	--fontBtn: 14px;
	--fontBtnAdd: 12px;
	--fontBtnReset: 12px;
}

body {
	margin: 0;
	background: var(--backgroundBody);
	color: var(--white);
	font: var(--fontBody);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}

.header .title {
	text-align: center;
}

.main {
	display: flex;
	justify-content: space-around;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container__mediaGeometrica,
.container__mediaArmonica {
	background: var(--backgroundContainer);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	min-height: calc(100vh - 500px);
	margin: 0 auto;
	padding: 45px 20px;
	border-radius: 10px;
	box-shadow: 0 0 5px royalblue;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 300px;
	gap: 30px;
}

.label {
	font-size: var(--fontLabel);
	text-transform: uppercase;
}

.input {
	background-color: transparent;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid white;
	font-size: var(--fontInput);
	padding: 0 25px 0 15px;
	width: 170px;
	height: 50px;
	color: var(--white);
	transition: width .25s;
}

.input__container {
	position: relative;
}

.input--error {
	border-bottom: 2px solid var(--red);
}

::placeholder {
	color: var(--white);
}

.btn {
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
	border-radius: 25px;
	color: white;
	cursor: pointer;
	font-size: var(--fontBtn);
	font-weight: bold;
	font-family: 'Muli', sans-serif;
	height: 50px;
	letter-spacing: 1px;
	width: 200px;
}

.btn--add {
	width: 50px;
	font-size: var(--fontBtnAdd);
	position: absolute;
	right: -5px;
	border-radius: 0 10px 10px 0;
}

.btn--reset {
	width: 170px;
	font-size: var(--fontBtnReset);
}

.btn:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.resultado {
	width: 100%;
	text-align: left;
	font-size: var(--fontResultado);
}